body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0OUKR034RxsUNt-vjeORsKiD8MqjYyZonefcC5ZnLfjy6JDc83Q");
}
 #crystals {
  display: flex;
  justify-content: center;
  border: 1px #44aaee;
  align-items: center;

 }
  .crystal {
    border: 1 px pink;
    height: 150px;
    Width: 150px;
    border: 10 px 10 px  pink;
    color: white;
  
  }
 